.frame {
  border:solid 1vmin #fff;
  /*border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;*/

  background: #fff;
  color: #3b4347;
  border-radius: 4px;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  /*padding: 5px;*/
  min-height: 200px;
}

.transparent {
  padding: 0 !important;
  overflow-x: hidden !important;
}

.crop {
  max-width: 500px !important;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/*masonry*/
#myContent {
	-moz-column-count: 6;
	-moz-column-gap: 0px;
	-webkit-column-count: 6;
	-webkit-column-gap: 0px;
	column-width: 250px;
	column-gap: 5px;
	max-width: 100%;
}

#myContent img{
	display: inline-block;
	margin-bottom: 5px;
	width: 100%;
}

/*responsive*/
/*@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	#myContent {
		-moz-column-count: 5;
		-moz-column-gap: 0px;
		-webkit-column-count: 5;
		-webkit-column-gap: 0px;
		column-count: 5;
		column-gap: 0px;
		width: 1000px;
	}

	#container {
		width: 1000px;
	}
}


@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	#myContent {
		-moz-column-count: 4;
		-moz-column-gap: 0px;
		-webkit-column-count: 4;
		-webkit-column-gap: 0px;
		column-count: 4;
		column-gap: 0px;
		width: 800px;
	}

	#container {
		width: 800px;
	}
}

@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	#myContent {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 34;
		column-gap: 0px;
		width: 600px;
	}

	#container {
		width: 600px;
	}
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	#myContent {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
		width: 400px;
	}

	#container {
		width: 400px;
	}
}*/
