.frame {
  border:solid 1vmin #fff;
  /*border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;*/

  background: #fff;
  color: #3b4347;
  border-radius: 4px;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  /*padding: 5px;*/
  min-height: 200px;
}

.transparent {
  padding: 0 !important;
  overflow-x: hidden !important;
}

.crop {
  max-width: 500px !important;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/*masonry*/
.myContent {
	-moz-column-count: 6;
	-moz-column-gap: 0px;
	-webkit-column-count: 6;
	-webkit-column-gap: 0px;
	column-count: 6;
	column-gap: 0px;
	width: 1200px;
}

.myContent img{
	display: inline-block;
	margin-bottom: 0px;
	width: 100%;
}
