.box {
  background: #fff;
  color: #3b4347;
  font-weight: 400;
  border-radius: 4px;
  border: 1;
  border-style: solid double;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  padding: 15px;
  min-height: 200px;
}

.boxRight {
  border:solid 2vmin #fff;
  /*border-bottom-color:#fff;
  border-left-color:#eee;
  /*border-radius:2px;*/
  /*border-right-color:#eee;
  border-top-color:#ddd;*/

  background: #fff;
  color: #3b4347;
  border-radius: 4px;
  /*box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);*/
  padding: 15px;
  min-height: 200px;
}

.image.left {
  float: left;
  margin: 0 1em 1em 0;
  position: relative;
  top: 0.5em;
}
