body {
    position: relative;
}

ul.nav-pills {
    top: 45%;
    position: fixed;
}

div.col-sm-9 div {
    min-height: 250px;
    font-size: 14px;
}

@media screen and (max-width: 810px) {
  ul.nav-pills {
    position: relative;
  }
}
