body {
    position: relative;
}

ul.nav-pills {
    top: 50%;
    position: fixed;
}

div.col-sm-9 div {
    min-height: 250px;
    max-width: 65%;
    font-size: 14px;
}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3  {
      margin-left: 150px;
  }
}
